<div class="signup-container">
  <div class="signup-card">
    <div class="signup-header">
      <h1>Create Your Account</h1>
      <p><strong>Important:</strong> Self-service registration must be enabled in your Okta org</p>
      <p class="instruction-text">If you see a "Sign up" link below, click it to register. Otherwise, contact your Okta admin.</p>
    </div>
    
    <div id="sign-up-widget"></div>
    
    <div class="signup-footer">
      <p class="signup-instruction">👇 Look for the <strong>"Sign up"</strong> or <strong>"Enroll"</strong> link in the widget above</p>
      <p>Already have an account? <a routerLink="/login">Sign in here</a></p>
    </div>
  </div>
</div>
